
@inherits EditUserView


<EditForm Model="@UserViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <MudDialog Style="width: 40%;">

                
        <DialogContent>
            <div style="border-bottom: 1px solid grey; padding-bottom: 15px;margin-top:-24px;" class="d-flex justify-content-between">
                <MudText Typo="Typo.h6">
                    @Title
                </MudText>
                <MudButton  Style="margin-right: 5%;" type="submit" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Сохранить</MudButton>
            </div>
            <MudTextField Label="Фамилия" HelperText="Max. 8 characters"
                          @bind-Value="UserViewModel.Surname" For="@(() => UserViewModel.Surname)"/>
            <MudTextField Label="Имя" Class="mt-3"
                          @bind-Value="UserViewModel.Name" For="@(() => UserViewModel.Name)"/>
            <MudTextField Label="Отчество" Class="mt-3"
                          @bind-Value="UserViewModel.Secondname" For="@(() => UserViewModel.Secondname)"/>
            @*<MudTextField Label="Номер телефона" Class="mt-3" @bind-Value="UserViewModel.PhoneNumber" For="@(() => UserViewModel.PhoneNumber)" />*@

            <div class="mud-input-control mud-input-input-control mt-3">
                <div class="mud-input-control-input-container">
                    <div class="mud-input mud-input-text mud-input-underline">
                        <InputText class="mud-input-slot mud-input-root mud-input-root-text" @bind-Value="UserViewModel.PhoneNumber" name="PhoneNumber"/>
                        <div class="mud-input-slot mud-input-root mud-input-root-text" tabindex="-1">

                        </div>
                    </div>
                    <label class="mud-input-label mud-input-label-animated mud-input-label-text mud-input-label-inputcontrol" for="PhoneNumber">Номер телефона</label>
                    <ValidationMessage For="@(() => UserViewModel.Item.PhoneNumber)"/>

                </div>
            </div>

            @*<InputText @bind-Value="UserViewModel.PhoneNumber"/>*@
            <MudTextField Label="Номер группы" Class="mt-3"
                          @bind-Value="UserViewModel.UserGroup" For="@(() => UserViewModel.UserGroup)"/>
            <MudTextField Label="Курс" Class="mt-3"
                          @bind-Value="UserViewModel.UserCourse" For="@(() => UserViewModel.UserCourse)"/>
            <MudTextField Label="Факультет" Class="mt-3"
                          @bind-Value="UserViewModel.UserDeportament" For="@(() => UserViewModel.UserDeportament)"/>
        </DialogContent>
 @*       <DialogActions>
        </DialogActions>*@
    </MudDialog>
</EditForm>
